/*Estilo enlaces
*/
.enlace-simple {
    color: #4d4d4d;
}
a:link, a:visited {  
    text-decoration: none;
}

/* .toma-box

=================================================================== */  
.toma-box{
    min-height: 150px;
    background: white;
    margin-bottom: 20px;
    text-align: center;

}
.toma-box .superior{
    padding-top: 15px;
    display: block;
}
.toma-box .superior h3{
    color: white;
    text-transform: uppercase;
    margin-top: -20px;
    line-height: 90px;
}
.toma-box ul {

    list-style: none;

    padding: 10px 0;

}

.toma-box ul li { 

    text-align: center;

    display: block;

    width: 33%;

    float: left;

}

.toma-box ul li span {

    color: #4d4d4d;

    font-weight: 500;

    text-transform: capitalize;

    font-size: 10px;

}

/*.toma-box ul li:first-child {

    border-right: 1px solid #f5f5f5;

}*/



/* Modals CSS*/
.modal-green{
    background-color: #5cb85c;
    color:white !important;
}
.modal-blue{
    background-color: #007aff;
    color:white !important;
}
.modal-light-blue{
    background-color: #34aadc;
    color:white !important;
}
/*Botonea CSS*/

.delete{
    color:#d9534f;
}  
.botones-esp{
    margin-bottom: 50px;
}
.btn-fixed {

    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}
.btn-floating{
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 37px;
    height: 37px;
    padding: 0;
    background-color: #5cb85c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    transition: .3s;
    margin: 10px;
    display:scroll;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.btn-floating.btn-large{
    width: 55.5px;
    height: 55.5px;
}

.btn-floating.btn-large i {
    line-height: 55.5px;
}

.btn-floating i {
    width: inherit;
    text-align: center;
    font-size: 2.3rem;
}
.btn-floating, .btn-floating i {
    display: inline-block;
    line-height: 37px;
    color: #fff;
}
@media screen and (min-width: 1250px){
    .botones-esp{
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 400px){
    .boton-horarios{
        display: none;
    }
}
/* Alert */
.flotante {
    display:scroll;
    position:fixed;
    top:30px;
    right:20px;
}
.alertShake{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.alertFade{

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}




