/* .toma-box

=================================================================== */  
.toma-box{

    min-height: 150px;
    background: white;
    margin-bottom: 20px;
    text-align: center;

}
.toma-box .superior{
    padding-top: 15px;
    display: block;
    background: #f5f5f5;
}
.toma-box .superior h3{
    text-transform: uppercase;
    margin-top: -20px;
    line-height: 90px;
}
.toma-box ul {

    list-style: none;

    padding: 10px 0;

}

.toma-box ul li {

    display: block;

    width: 50%;

    float: left;

}

.toma-box ul li:first-child {

    border-right: 1px solid #f5f5f5;

}


.toma-box ul li span {

    color: #4d4d4d;

    font-weight: 500;

    text-transform: capitalize;

    font-size: 10px;

}
/* Modals CSS*/
.modal-green{
    background-color: #5cb85c;
    color:white !important;
}
.modal-blue{
    background-color: #007aff;
    color:white !important;
}
.modal-light-blue{
    background-color: #34aadc;
    color:white !important;
}
/*Buttons CSS*/

.delete{
    color:#d9534f;
}  
.btn-floating {

    overflow: hidden;
    z-index: 1;
    width: 47px;
    height: 47px;
    padding: 0;
    background-color: #5cb85c;
    border-radius: 50%;
    display:scroll;
    position:fixed;
    bottom:37px;
    right:37px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.btn-floating i {
    width: inherit;
    text-align: center;
    font-size: 1.6rem;
}
.btn-floating, .btn-floating i {
    display: inline-block;
    line-height: 47px;
    color: #fff;
}

